$white: #fff;
$teal: #0a6a88;
$black: #000;
$orange: #ffa500;

.talkbubble {
  background: $orange;
  border-radius: 10px;
  color: $white;
  height: 50px;
  padding-top: 12px;
  position: relative;
  text-align: center;
  width: 90px;
}

.ant-tabs-nav-wrap {
  color: $white;
}

.whole-bills {
  display: flex;
}

.bills-table {
  width: 80%;
}

.ant-calendar-picker-input {
  // border-bottom: 1px solid black !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

.ant-calendar-picker-input:active {
  // border-bottom: 1px solid black !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

.bill-form-input {
  // border-bottom: 1px solid gray;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-right: 10px;
}

.bills {
  color: $white;

  h3 {
    margin-left: 25%;
  }

  button {
    border-radius: 15px;
  }

  input {
    border-radius: 15px;
    text-align: center;
  }

  .create-button {
    margin-bottom: 15px;
    margin-left: 25%;
    margin-top: 15px;
  }

  .bill-modal {
    margin: 10px;
  }
}

.create-bill-form {
  display: inline-flex;
}

.table {
  background-color: $teal;
  border-radius: 15px;
  color: $white;
  margin: 0 auto;
  width: 50%;

  .thead {
    background-color: $white;
    color: $black;
  }

  .td {
    color: $white;

    &:hover {
      color: $orange;
    }
  }

  tr:hover {
    color: $orange;
  }
}

.bill-show {
  background-color: $teal;
  border-radius: 15px;
  color: $white;
  margin: 30px auto;
  // margin-top: 10px;
  text-align: center;
  width: 50%;

  button {
    border-radius: 15px;
  }

  input {
    border-radius: 15px;
    text-align: center;
    width: 30%;
  }
}

.ant-table-tbody {
  background-color: $white;
}
